<mat-form-field appearance="fill">
    <mat-label>{{inputName}}</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" [formControl]="passwordForm">
    <button mat-icon-button matSuffix (click)="hide = !hide" attr.aria-label="Hide password"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="passwordForm.hasError('required')">{{inputName}} is required</mat-error>
    <mat-error *ngIf="passwordForm.hasError('wrongPassword')">{{inputName}} is wrong</mat-error>
</mat-form-field>
