<div class="container">
    <mat-toolbar class="matToolbar">
        <button mat-icon-button color="primary" class="example-icon" aria-label="Example icon-button with menu icon"
            (click)="sideBar.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <img src="../../assets/images/person.jpeg" alt="person photo">
    </mat-toolbar>

    <mat-sidenav-container class="sideBar">
        <mat-sidenav class="optionSideBar" #sideBar mode="over" [(opened)]="opened">
            <div class="navigateContainer">
                <button class="" mat-button color="primary" (click)="navigateToUserList()">User list</button>
            </div>
            <button class="logOut" mat-button color="warn" (click)="logOut()">Log out</button>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>